<div class="section-wrap animated fadeIn">
    <input [(ngModel)]="query" name="buscar" (keyup.enter)="searchMovie()" type="text" placeholder="Search for a movie...">
</div>

<div *ngIf="loading" class="loading animated fadeIn">
    <i class="fas fa-spinner fa-spin fa-5x mt-2"></i>
</div>

<div *ngIf="err" class="loading animated fadeIn">
    <h3>We're sorry! Something went wrong...</h3>
    <br>
    <i class="far fa-times-circle fa-5x mt-2"></i>
</div>

<div *ngIf="notFound" class="loading animated fadeIn">
    <h3>Your search returned no results. Please try again!</h3>
    <br>
    <i class="fas fa-exclamation-circle fa-5x mt-2"></i>
</div>


<div *ngIf="!loading && !notFound && !err" class="section-wrap animated fadeIn">
    <app-grid [movies]="movies"></app-grid>
</div>